
<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
  <div>
    <div class="table-responsive-md">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="row">#</th>
            <th scope="col">username</th>
            <th scope="col">firstname</th>
            <th scope="col">lastname</th>
            <th scope="col">phone</th>
            <th scope="col">address</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of Users ; index as i">
            <td>{{i+1}}</td>
            <!-- <td> {{ commande.id }}</td>-->
            <td>{{ user.username }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.address}}</td>
            <td>{{ user.email }}</td>
            <td *ngFor="let role of user.roles">{{ role.name }}</td>
            <td>

              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Action</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Update</a></li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>